

*{
    /* border: 1px white solid; */
    margin: 0;
    padding: 0;
    font-family: 'Play', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(11, 12, 12);
    color: rgb(190, 200, 200);
}

h1, h2, h3, h4, .linklink .urlinklink{
    font-family: 'Cormorant SC', serif;
}

/* heading */

.maintitle{
    position: fixed;
    width: 100%;
    height: 90px;
    text-align: center;
    font-size: 75px;
    background-color: rgba(190, 200, 200, 0.9);
    border-bottom: 4px solid rgb(0 , 0, 255);
    color: rgb(0, 0, 112);
    z-index: 5;
}

.maintitle2{
    display: none;
    width: 100%;
    height: 90px;
    text-align: center;
    font-size: 75px;
    background-color: rgba(190, 200, 200, 0.9);
    border-bottom: 4px solid rgb(0 , 0, 255);
    color: rgb(0, 0, 112);
    z-index: 5;
}

/* body of text */

#hidden{
    opacity: 0;
}

#gap{
    margin-bottom: 10px;
}

#noborder{
    border: none;
}

#backgroundback{
    background-color: rgba(190, 200, 200, 0.06); 
}

#chill{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    padding-bottom: 20px;
}

.contentbox{
    position: relative;
    top: 95px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainbar{
    width: 60%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 20%;
}

.mainbar *{
    /* border: 1px solid white; */
}

.content1{
    width: 100%;
    height: 300px;
    /* background-color: rgba(190, 200, 200, 0.06); */
    border-radius: 15px;
    display: flex;
    z-index: 2;
    margin-right: 10px;
}

.content1
.background{
    position: absolute;
    width: 75%;  
    height: 300px;  
    display: flex;
    justify-content: center;
    /* background-image: url(./images/Picture\ clean.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

@-webkit-keyframes whiteBlue {  
    20%, 85% { fill: rgba(190 , 200, 200, 1); }
    30%, 75% { fill: rgba(190 , 200, 200, 0); }
}

#logo1{
    position: absolute;
    fill: rgb(190, 190, 200);
    width: 100%;
    max-width: 100vw;
    height: 67%;
    margin: 36px 0;
    z-index: 3;
    -webkit-animation: whiteBlue infinite 20s;  
}

@-webkit-keyframes blueWhite {  
    20%, 85% { fill: rgba(190 , 200, 200, 0.3); }
    30%, 60% { fill: rgb(0, 0, 255); }
    70% { fill: rgba(190 , 200, 200, 1); }
}
  
#logo2 {
    position: absolute;
    height: 97%;
    width: 100%;
    max-width: 100vw;
    padding-top: 10px;
    fill: rgba(190 , 200, 200, 0.3);
    -webkit-animation: blueWhite infinite 20s;  

}  
/* @-webkit-keyframes blackWhite {  
    0% { background-color: white; }
    50% { background-color: white; }
    51% { background-color: red; }
    100% { background-color: red; }
}
  
.blankdiv {
    height: 100px;
    background-color: red;
    width: 100%;
    z-index: 10;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}   */

.evogroup{
    width: 90%;
    display: flex;
    align-items: flex-end;
    /* border: red 1px dashed; */
}

.evoimg{
    /* border: rgb(190 , 200, 200) 1px solid; */
    /* width: 17%; */
    height: 100%;
    flex-grow: 1;
    position: relative;
    margin: 0 10px;
    fill: rgba(190 , 200, 200, 1);
    z-index: 2;
    /* background-color: rgba(0, 0, 112, 0.5); */
}

@-webkit-keyframes evolution1 {  
    0%, 30%, 77%, 100% { fill: rgba(190 , 200, 200, 0);}
    40%, 65%, 70%  { fill: rgba(0 , 0, 112, 1);  }
    72% { fill: rgba(0 , 0, 255, 1); }  
    35% { fill: rgba(190 , 200, 200, 1); }
}

#evo1{
    /* width: 13%; */
    /* bottom: 92px; */
    width: 100px;
    height: 100px;
    -webkit-animation: evolution1 infinite 20s;  
    margin-left: 0;
}

@-webkit-keyframes evolution2 {  
    0%, 37.5%, 47.5%, 77%, 100% { fill: rgba(190 , 200, 200, 0); }
    47.5%, 65%, 70%  { fill: rgba(0 , 0, 112, 1); }    
    72% { fill: rgba(0 , 0, 255, 1); }  
    42.5% { fill: rgba(190 , 200, 200, 1); }

}

#evo2{
    /* bottom: 200px; */
    /* width: 8%; */
    width: 76px;
    height: 140px;
    -webkit-animation: evolution2 infinite 20s;  
}

@-webkit-keyframes evolution3 {  
    0%, 45%, 77%, 100% { fill: rgba(190 , 200, 200, 0); }
    55%, 65%, 70%  { fill: rgba(0 , 0, 112, 1); }   
    72% { fill: rgba(0 , 0, 255, 1); }  
    50% { fill: rgba(190 , 200, 200, 1); }
}

#evo3{
    /* bottom: 218px; */
    /* width: 14%; */
    width: 120px;
    height: 160px;
    -webkit-animation: evolution3 infinite 20s;  
}

@-webkit-keyframes evolution4 {  
    0%, 52.5%, 77%, 100% { fill: rgba(190 , 200, 200, 0); }
    62.5%, 65%, 70% { fill: rgba(0 , 0, 112, 1); }   
    72% { fill: rgba(0 , 0, 255, 1); }  
    57.5% { fill: rgba(190 , 200, 200, 1); }
}

#evo4{
    /* bottom: 263px; */
    width: 140px;
    height: 180px;
    -webkit-animation: evolution4 infinite 20s;  
}

@-webkit-keyframes evolution5 {  
    0%, 60%, 77%, 100% { fill: rgba(190 , 200, 200, 0); }
    70% { fill: rgba(0 , 0, 112, 1); }  
    72% { fill: rgba(0 , 0, 255, 1); }  
    65% { fill: rgba(190 , 200, 200, 1); }
}

#evo5{
    /* bottom: 340px; */
    /* width: 22%; */
    width: 200px;
    height: 220px;
    -webkit-animation: evolution5 infinite 20s;  
}

.inbox{
    width: 95%;
    border-bottom: 2px solid rgb(190, 200, 200);
    border-top: 2px solid rgb(190, 200, 200);
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */
    margin: 0 auto;
}

.inbox2{
    /* height: 100%; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    margin: 20px 0 40px 0;
    /* background-color: red; */
}

.inbox p{
    text-align: center;
    margin: auto;
}

.inbox h3{
    width: 100%;
    text-align: left;
    border-bottom: 2px solid rgb(190, 200, 200);
    font-size: 34px;
    padding-top: 30px;
}


.content2,
.content3,
.content4{
    width: 40%;
    min-width: 350px;
    max-width: 50%;
    height: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    /* border: 1px greenyellow solid; */
}

/* .comingsoon{
    position: absolute;
    display: flex;
    width: 72%;
    height: inherit;
    flex-grow: 1;
    background-color: greenyellow; */

    /* width: inherit;
    min-width: inherit;
    height: 200px;
    background-color: yellow;
    background-image: url(./images/Comingsoon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 100px;
} */

.boxxy{
    display: flex;
    background-color: rgba(190, 200, 200, 0.04);
    height: 190px;
    flex-direction: row;
    margin: 25px 10px 10px 0;
    border-radius: 10px;
}

.passportimg,
.blankimage,
.djimg,
.chaletimg,
.clipboardimg,
.flimg,
.planeimg,
.bookimg,
.snowimg{
    width: 25px;
    flex-grow: 0.6;
    border-radius: 5px;
    margin: 10px;
    /* border: 1px white solid; */
}

.passporttext{
    display: flex;
    flex-direction: column;
    width: 1px;
    flex-grow: 1;
}

.passporttext
p{
    color: rgb(190, 200, 200);
    margin: auto;
    text-align: center;
}

.passporttext 
h3{
    text-align: right;
    border-bottom: 2px solid rgb(190, 200, 200);
    margin: 0 10px 0px 0px;
}

.content3{
    flex-direction: row;
    background-color: black;
    margin: 10px;
}

.chaletimg,
.passportimg,
.djimg,
.planeimg,
.clipboardimg,
.blankimage,
.flimg,
.bookimg,
.snowimg{
    height: 170px;
    fill: rgb(0, 0, 255);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgba(190 , 200, 200, 1);
    /* border-bottom: 1px solid rgba(190 , 200, 200, 1); */
}

#pad{
    padding: 9px;
}

.content3text{
    display: flex;
    flex-direction: column;
    width: 1px;
    flex-grow: 1;
}

.minititle{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.content4{
    background-image: url(./images/colour\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
}

.content4 .background{
    width: 100%;
    display: flex;
    justify-content: center;
}

.box4{
    color: red;
    width: 90%;
    border-top: rgb(190, 200, 200) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box4 h3{
    width: 90%;
    text-align: right;
    font-size: 30px;
}

.backdrop{
    background-color: rgba(0, 0, 112, 0.5);
}

.box4 p{
    /* background-color: rgba(0, 0, 112, 0.5); */
    text-align: center;
}

.musiclink{
    color: rgb(190, 200, 200);
    text-align: center;
    background-color: rgba(0, 0, 112, 1);
    border-radius: 8px;
    border: 2px rgb(190, 200, 200) solid;
    display: block;
    padding: 6px;
    margin-right: 8px;
}

/* sidebar formatting */

@-webkit-keyframes bounce {  
    0%, 100% { top: 0; }
    50% { top: 30px; }
}

.sidebar{
    width: 20%;
    max-width: 220px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    /* border: red 3px solid; */
    position: fixed;
    left: 0;
    top: 0;
    -webkit-animation-name: bounce;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3s; 
}

.icon3,
.icon2{
    width: 0;
    height: 0;
    display: none;
}

.keyinfo 
.text
h3{
    color: rgb(0, 0, 255);
    text-decoration: underline;
}

.keyinfo{
    width: 85%;
    min-width: 155px;
    border-top: 2px solid rgb(190, 200, 200);
    border-bottom: 2px solid rgb(190, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.keyinfo h2{
    text-align: center;
    width: 85%;
    border-bottom: 2px solid rgb(190, 200, 200);
    margin: auto;
    padding-bottom: 5px;
}

.keyinfo .text{
    width: 85%;
    border-bottom: 2px solid rgb(190, 200, 200);
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgba(190, 200, 200, 0.06);
}

.gap{
    padding-top: 3px;
    font-weight: bold;
    text-align: left;
}

.key{
    display: inline;
    font-family: 'Courgette', cursive;
    color: rgb(0, 0, 112);
    background-color: rgb(190, 200, 200);
    border-radius: 5px;
    padding: 3px 8px;
}

.wrapper{
    margin-bottom: 10px;
    margin-top: 5px;
}

/* PROFILES */

.profiletop{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 112,0.9);
    border-bottom: rgb(0, 0, 255) 3px solid;
}


.linklink{
    color: rgb(190, 200, 200);
}

.movedown{
    position: relative;
    top: 90px;
}

.movedown2{
    position: relative;
    top: 200px;
}

.returnprofiles,
.newprofiles{
    background-color: rgba(190 , 200, 200, 0.03);
    margin: 0 15px 10px 15px;
    border-radius: 15px;
}

.profiletitle{
    text-align: center;
    font-size: 40px;
    color: rgb(190, 200, 200);
}

.profilelink{
    text-align: right;
    padding: 10px;
}

.profilehead{
    margin: 0 10px 10px 10px;
    padding-left: 5px;
    font-size: 30px;
    border-bottom: rgb(190, 200, 200) 2px solid;
    padding-top: 10px;
}


.profiles{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile{
    /* border: 1px gray solid; */
    background-color: rgba(190, 200, 200, 0.04);
    border-radius: 10px;
    display: inline-flex;
    width: 400px;
    height: 150px;
    margin: 5px 0;
    flex-grow: 0;
    margin: 5px;
}

.profilepic{
    /* height: 200px; */
    width: 1px;
    flex-grow: 1.3;
    background-color: rgb(190, 200, 200);
}

h3{
    color: rgb(0, 0, 255);
    font-size: 24px;
}

.name{
    border-bottom: rgb(190, 200, 200) 1px solid;
}

.blurb{
    width: 1px;
    flex-grow: 2;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 5px;
    height: 140px;
    overflow: hidden;
}

.text{
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    
}

@-webkit-keyframes sparkle {  
    40%, 80% { background-color: rgba(0, 0, 122, 0.4); }
    50% { background-color: rgba(0, 0, 122, 0); }
}

.filter{
    width: 100%;
    height: 126px;
    background-color: rgba(0, 0, 122, 0.4);
    border-radius: 5px;  
}

.profilepicrf .filter{
    -webkit-animation: sparkle 4.8s infinite; 
}

.profilepicjd .filter{
    -webkit-animation: sparkle 3.1s infinite; 
}

.profilepiclp .filter{
    -webkit-animation: sparkle 3.9s infinite; 
}

.profilepiccp .filter{
    -webkit-animation: sparkle 6.2s infinite; 
}

.profilepiccb .filter{
    -webkit-animation: sparkle 4.5s infinite; 
}

.profilepicct .filter{
    -webkit-animation: sparkle 4.6s infinite; 
}

.profilepicbk .filter{
    -webkit-animation: sparkle 3.4s infinite; 
}

.profilepiceg .filter{
    -webkit-animation: sparkle 4.2s infinite; 
}

.profilepicoh .filter{
    -webkit-animation: sparkle 5s infinite; 
}

.profilepicss .filter{
    -webkit-animation: sparkle 4.3s infinite; 
}

.profilepicpp .filter{
    -webkit-animation: sparkle 5.3s infinite; 
}

.profilepicrcc .filter{
    -webkit-animation: sparkle 3s infinite; 
}

.profilepiclh .filter{
    -webkit-animation: sparkle 3.5s infinite; 
}

.profilepicaf .filter{
    -webkit-animation: sparkle 6.5s infinite; 
}

:hover.filter{
    background-color: rgba(0, 0, 122, 0);
}

@-webkit-keyframes appear {  
    0%, 40% { opacity: 0; }
    50% { opacity: 1; }
}


#pro1{
    -webkit-animation: appear 1s;  
}

#pro2{
    -webkit-animation: appear 1.5s;  
}

#pro3{
    -webkit-animation: appear 2s;  
}

#pro4{
    -webkit-animation: appear 2.5s;  
}

#pro5{
    -webkit-animation: appear 3s;  
}

#pro6{
    -webkit-animation: appear 3.5s;  
}

#pro7{
    -webkit-animation: appear 4s;  
}

#pro8{
    -webkit-animation: appear 4.5s;  
}

#pro9{
    -webkit-animation: appear 5s;  
}

#pro10{
    -webkit-animation: appear 5.5s;  
}

#pro11{
    -webkit-animation: appear 6s;  
}

#pro12{
    -webkit-animation: appear 6.5s;  
}

#pro13{
    -webkit-animation: appear 7s;  
}

#pro14{
    -webkit-animation: appear 7.5s;  
}

#pro15{
    -webkit-animation: appear 8s;  
}

#pro16{
    -webkit-animation: appear 8.5s;  
}

#pro17{
    -webkit-animation: appear 9s;  
}

#pro18{
    -webkit-animation: appear 9.5s;  
}

#pro19{
    -webkit-animation: appear 10s;  
}

#pro20{
    -webkit-animation: appear 10.5s;  
}

#pro21{
    -webkit-animation: appear 11s;  
}

#pro22{
    -webkit-animation: appear 11.5s;  
}

#pro23{
    -webkit-animation: appear 12s;  
}

#pro24{
    -webkit-animation: appear 12.5s;  
}

#pro25{
    -webkit-animation: appear 13s;  
}

#pro26{
    -webkit-animation: appear 13.5s;  
}

#pro27{
    -webkit-animation: appear 14s;  
}

#pro28{
    -webkit-animation: appear 14.5s;  
}

#pro29{
    -webkit-animation: appear 15s;  
}

#pro30{
    -webkit-animation: appear 15.5s;  
}

#pro31{
    -webkit-animation: appear 16s;  
}

#pro32{
    -webkit-animation: appear 16.5s;  
}

#pro33{
    -webkit-animation: appear 17s;  
}

#pro34{
    -webkit-animation: appear 17.5s;  
}

#pro35{
    -webkit-animation: appear 18s;  
}

#pro36{
    -webkit-animation: appear 18.5s;  
}

#pro37{
    -webkit-animation: appear 19s;  
}

#pro38{
    -webkit-animation: appear 19.5s;  
}
/* Unessential reading */

.urbody{
    background-color: rgb(190 , 200, 200);
}

.invisible{
   opacity: 0;
}

.urtop{
    position: fixed;
    width: 100%;
    z-index: 5;
    border-bottom: rgb(0, 0, 255) 3px solid;
    background-color: rgb(190, 200, 200);
}

.urtitle{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 112);
}

.urlinklink{
    color: rgb(0, 0, 112);
}

.urmain{
    background-color: rgba(11, 12, 12, 0.2);
    
}

.ursection{
    /* height: 100px; */
    width: 85%;

    margin: 15px 0;
}

.ursection
h3{
    width: 100%;
    padding-right: 30px;
    text-align: right;
    color: rgb(190 , 200, 200);
    border: 3px solid rgb(0 , 0, 255);
    border-left: 0px;
    background-color: rgb(0, 0, 112);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.ursection
.content{
    width: 95%;
    border: 3px solid rgb(0 , 0, 112);
    border-top: 0px;
    border-left: 0px;
    background-color: rgba(11, 12, 12, 0.2);
    border-bottom-right-radius: 20px;
    padding: 20px;
    color: black;
    /* display: flex; */
}

/* .ursection
.content
p{
    display: block;
    background-color: rebeccapurple;
}

#problem{
    background-color: rgb(190 , 200, 200);
    display: block;
} */


.urimg{
    width: 50%;
    min-width: 30%;
    margin-right: 10px;
    background-color: black;
}

.urlist{
    margin-left: 20px;
}

.midtxt{
    text-align: center;
}

/* profile pictures */

.profilepicct,
.profilepicrf,
.profilepicjd,
.profilepicdw,
.profilepiclp,
.profilepiccp,
.profilepiccb,
.profilepiclw,
.profilepicbk,
.profilepiceg,
.profilepicoh,
.profilepicss,
.profilepicpp,
.profilepicrcc,
.profilepiclh,
.profilepicaf,
.profilepicjs,
.profilepicdm,
.profilepickk,
.profilepiccs,
.profilepicsb,
.profilepicha,
.profilepicsk,
.profilepictj,
.profilepicea,
.profilepicec,
.profilepicsf,
.profilepicjbs,
.profilepickm,
.profilepichm,
.profilepicow,
.profilepiceh,
.profilepicrh,
.profilepicwb,
.profilepicmc,
.profilepicne,
.profilepicdh,
.profilepicjw,
.profilepicrd{
    width: 1px;
    flex-grow: 1.3;
    background-size: cover;
    border-radius: 5px;
    margin: 10px;
    border: rgb(190, 200, 200) 2px solid;
    background-position: center;
}

.profilepicct{
    background-image: url(./images/headshots/Claire\ Tillotson.png);
}

.profilepicrf{
    background-image: url(./images/headshots/Rob\ Farenden.png);
}

.profilepicjd{
    background-image: url(./images/headshots/James\ Dinsdale.png);
}

.profilepicdw{
    background-image: url(./images/headshots/Dan\ Williams.png);
}

.profilepiclp{
    background-image: url(./images/headshots/Lucian\ Purvis.png);
}

.profilepiccp{
    background-image: url(./images/headshots/Charlotte\ Pallett.png);
}

.profilepiccb{
    background-image: url(./images/headshots/Charles\ Baynham.png);
}

.profilepiclw{
    background-image: url(./images/headshots/Lydia\ Watson.png);
}

.profilepicbk{
    background-image: url(./images/headshots/Brendan\ Killough.png);
}

.profilepicoh{
    background-image: url(./images/headshots/Ollie\ Hatton.png);
}

.profilepicss{
    background-image: url(./images/headshots/Sarah\ Shapcott.png);
}

.profilepicpp{
    background-image: url(./images/headshots/Parav\ Pandya.png);
}

.profilepicrcc{
    background-image: url(./images/headshots/Rory\ C-C.png);
}

.profilepiclh{
    background-image: url(./images/headshots/Luke\ Harley.png);
}

.profilepicaf{
    background-image: url(./images/headshots/Ashley\ Finn.png);
}

.profilepiceg{
    background-image: url(./images/headshots/Ellen\ Greenless.png);
}

.profilepicjs{
    background-image: url(./images/headshots/Jack\ Straker.png);
}

.profilepicdm{
    background-image: url(./images/headshots/David\ Merriam.png);
}

.profilepickk{
    background-image: url(./images/headshots/KitKat.png);
}

.profilepiccs{
    background-image: url(./images/headshots/Stowell.png);
}

.profilepicsb{
    background-image: url(./images/headshots/Sven\ Brooks.png);
}

.profilepicha{
    background-image: url(./images/headshots/Hanscombe.png);
}

.profilepicsk{
    background-image: url(./images/headshots/Sophie\ Klein.png);
}

.profilepictj{
    background-image: url(./images/headshots/Tom\ Jobson.png);
}

.profilepicea{
    background-image: url(./images/headshots/Emily\ Anne.png);
}

.profilepicec{
    background-image: url(./images/headshots/Ellie\ Cranfield.png);
}

.profilepicsf{
    background-image: url(./images/headshots/Scott\ Fanner.png);
}

.profilepicjbs{
    background-image: url(./images/headshots/James\ B-S.png);
}

.profilepickm{
    background-image: url(./images/headshots/Katie\ Murray.png);
}

.profilepichm{
    background-image: url(./images/headshots/Hannah\ Montgomery.png);
}

.profilepicow{
    background-image: url(./images/headshots/Ollie\ Wilmot.png);
}

.profilepiceh{
    background-image: url(./images/headshots/Emma\ Harley.png);
}

.profilepicrh{
    background-image: url(./images/headshots/Richard\ Hobson.png);
}

.profilepicwb{
    background-image: url(./images/headshots/William\ Bowden.png);
}

.profilepicmc{
    background-image: url(./images/headshots/Maggie\ Chao.png);
}

.profilepicne{
    background-image: url(./images/headshots/Nick\ E.png);
}

.profilepicdh{
    background-image: url(./images/headshots/Elizabeth\ Hutton.png);
}

.profilepicjw{
    background-image: url(./images/headshots/Joe\ Wilson.png);
}

.profilepicrd{
    background-image: url(./images/headshots/Rachel\ Drapper.png);
}

/* CARDS */

.card{
    width: 300px;
    max-width: 80%;
    background-image: url(./images/Navy\ background.png);
    background-size: 90px;
    background-repeat: repeat;
    border: 5px solid rgb(190, 200, 200);
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* height: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardtitle{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 3vw;
    margin-bottom: 1.5vw;

}

.cardname 
h1{
    font-size: 24px;

}

.cardicons{
    display: flex;
}

.snake,
.queens{
    height: 30px;
    width: 30px;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.snake{
    background-image: url(./images/card/Snake.png);
}

.queens{
    background-image: url(./images/card/Queens.png);
}



.cardpic{
    width: 70%;
    height: 56vw;
    max-height: 210px;
    display: flex;
    z-index: 2;
}

.cardpic *{
    border: 0px;
    margin: 0px;
    border: rgb(190, 200, 200) 15px solid;
    border-radius: 35px;
    border-style: ridge;

}

.summarybar{
    width: 90%;
    background-color: rgb(190, 200, 200);
    color: rgb(0, 0, 112);
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px 0;
}


.stats{
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 0;
}

.category{
    font-size: 15px;
    /* font-family: 'Cormorant SC', serif;   */
    border-bottom: 1px solid rgb(190, 200, 200);
    flex-grow: 1;
    padding-top: 10px;
}

.score{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(190, 200, 200);
    color: rgb(0, 0, 255);
    font-size: 22px;
    border-radius: 500px;
    /* font-family: 'Cormorant SC', serif; */
    padding-top: 6px;
}


/* .ursection
.content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

/* Testing drop downs */

.dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* need Java? */

  .show {display:block;}




/* MEDIA */

@media(min-width: 1100px){
    .mainbar{
        margin-left: 220px;
    }
}

@media (max-width: 850px){
    .mainbar{
        margin-left: 165px;
    }


}

@media (max-width: 910px){
    .content2{
        min-width: 90%;
    } 

}

@media (max-width: 520px){
    .mainbar{
        /* background-color: red; */
        margin-left: 5px;
        width: 100%;
    }

    .contentbox{
        /* display: block; */
        flex-direction: column;
        /* background-color: yellow; */
        /* height: auto; */
    }

    .sidebar{
        position: static;
        width: 100%;
        max-width: 100%;
        top: auto;
        left: auto;
        /* background-color: green; */
        height: auto;
        /* background-color: blue; */
        margin: 0 5px 10px 5px;
    }

    .keybox .gap,
    .text .gap{
        display: none;
  
    }

    .keyinfo 
    .text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 0px solid black;
        width: 100%;
        /* background-color: red; */
        /* border: green 3px solid; */
        
    }

    .keyinfo
    .text
    h3,
    .keyinfo h2{
        display: none;
    }

    .keyinfo
    .text
    .wrapper{
        display: inline;
        /* background-color: red; */
        /* background-color: yellow; */
    }

    .keyinfo .text .key{
        font-family: play;
        font-weight: bolder;
        font-size: 16px;
        color: rgb(0, 0, 255);
        background-color: rgba(0, 0, 112, 0);
    }

    .keybox{
        /* background-color: blue; */
        display: inline-flex;
        /* border: 2px dashed green; */
        /* flex-grow: 1; */
    }

    /* .keyinfo{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    } */

    .keyinfo h2{
        /* background-color: red; */
        width: 90%;
    }


    /* .keyinfo p,
    .keyinfo .wrapper{
        display: inline;
        width: 40%; 
    } */

    .content1
    .background{
        width: 100%;
        margin: 0;
    }

    .background{
        min-width: 100vw;
    }

    #logo1,
    #logo2{
       max-width: 90vw;
    }

    /* .keybox{
        margin-bottom: 8px;
    } */

    /* .keyinfo 
    .text
    h3{
        margin-bottom: 8px;
    } */

    .sidebar *{
        margin: 0px;
    }

    .icon2,
    .icon3{
        display: inline;
        width: 30px;
        fill: rgb(190 , 200, 200);
        height: 100%;

    }


    #location{
        flex-direction: row-reverse;
    }

    .evoimg{
        margin-bottom: 40px;
    }

    #evo1{
        height: 45px;
    }

    #evo2{
        height: 62px;
    }

    #evo3{
        height: 70px;
    }

    #evo4{
        height: 78px;
    }

    #evo5{
        height: 110px;
    }
}
